<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"></link>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Sistema de Ocorrencias</title>
</head>
<body>
    <div class="text-center">
        <h2><strong>Sistema de Ocorrências</strong></h2>
        <p>Para registrar uma ocorrência ou apenas visualizar as criadas, clique no botão abaixo:</p>
        <a class="btn btn-lg btn-default">Ocorrências</a>
    </div>
</body>
</html>