<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Lista de Ocorrencias</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"></link>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="panel panel-default">
    <div class="panel-heading">
        <strong>Ocorrencias</strong>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-sm table-striped table-hover table-bordered">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Prioridade</th>
                    <th>Descrição</th>
                    <th>Medidas (Se estiver vazia, não houve tratamento ainda)</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="ocorrencia : ${ocorrencias}">
                    <td th:text="${ocorrencia.id}"></td>
                    <td th:text="${ocorrencia.prioridade}"></td>
                    <td th:text="${ocorrencia.descricao}"></td>
                    <td th:text="${ocorrencia.medidas}"></td>
                    <td>
                        <div>
                            <a class="btn btn-sm btn-success" th:href="@{/{id}/editar(id=${ocorrencia.id})}">Editar</a>
                            <a class="delete btn btn-sm btn-danger" th:href="@{/{id}/excluir(id=${ocorrencia.id})}">Excluir</a>
                            <a class="delete btn btn-sm btn-primary" th:href="@{/{id}(id=${ocorrencia.id})}">Visualizar</a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="panel-footer">
        <a class="btn btn-sm btn-success" th:href="@{/nova-ocorrencia?edit=false}">Registrar nova ocorrência</a>
    </div>
</div>
</body>
</html>