<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Lista de Funcionarios</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"></link>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style>
table {
    table-layout: fixed;
    word-wrap: break-word;
}
</style>

</head>
<body>
<div class="panel panel-default">
    <div class="panel-heading">
        <strong>Funcionarios</strong>
    </div>

    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-sm table-striped table-hover table-bordered">
                <thead>
                <tr>
                    <th>CPF</th>
                    <th>RG</th>
                    <th>Horas de Trabalho</th>
                    <th>Nome</th>
                    <th>Data de Nascimento</th>
                    <th>E-mail</th>
                    <th>ID de seu Gerente</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="funcionario : ${funcionarios}">
                    <td th:text="${funcionario.cpf}"></td>
                    <td th:text="${funcionario.rg}"></td>
                    <td th:text="${funcionario.horasDeTrabalho}"></td>
                    <td th:text="${funcionario.nome}"></td>
                    <td th:text="${funcionario.dataNascimento}"></td>
                    <td th:text="${funcionario.email}"></td>
                    <td th:text="${funcionario.gerente_id}"></td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-sm btn-primary" th:href="@{/funcionario/{cpf}(cpf=${funcionario.cpf})}">Ver Ocorrências</a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="panel-footer">
        <a class="btn btn-sm btn-success" th:href="@{/index?tipo=all}">Voltar</a>
    </div>
</div>
</body>
</html>